@font-face{
	font-family:"wizard";
	src: url(MagicSchoolTwo.ttf);
}

html{
	font-family:wizard;
	font-size:2.5em;
	text-shadow: 2px 2px 1px #a829f0;
}

input{
	background-color:transparent;
	width: 100px;
}

body{
	
	background-image: url("../images/bkgrd.jpg");
}

#line{
margin:0;
padding:0;
}

.thebtn {
	font-family:wizard;
	border: 2px solid #a829f0;
    border-radius: 3px;
    font-family: wizard;
    color: #a829f0 !important;
    font-size: 30px;
    background: #fff;
    background-color: transparent;
    padding: 6px 14px 6px 14px;
    text-decoration: none;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.3),inset 0 1px 0 rgba(255, 255, 255, 0.5);
    text-shadow: 0 1px 0 #FFF;
    display: inline-block;
    margin: 20px 5px 10px 2px;
}
#sort{
font-family:wizard;
	border: 2px solid #a829f0;
    border-radius: 3px;
    font-family:wizard;
    color: #a829f0 !important;
    font-size: 32px;
    background: #fff;
    background-color: transparent;
    padding: 6px 14px 6px 14px;
    text-decoration: none;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.3),inset 0 1px 0 rgba(255, 255, 255, 0.5);
    text-shadow: 0 1px 0 #FFF;
    display: inline-block;
    margin: 20px 5px 10px 2px;
}
.thebtn:hover, #sort:hover{
background:#ffe6ff;
}

.thebtn:active, #sort:active{
background: #ff99cc;
}

.house p{
background-repeat:no-repeat;
}

.house{
margin-left: auto;
margin-right: auto;
width:350px;
height:350px;
}

#btn1{
	font-family:wizard;
	text-shadow: 3px 3px 2px #888;
	font-size:inherit;
	text-align:center;
}

#welcome{
	padding-top: 1px;
}
#wrapper{
	color:#470b94;
	text-align:center;
	margin: 0 auto;
	max-width: 1120px;
	min-width: 375px;
	width: 71%;
	height: 100%;
	background-image: url("scroll.jpg");
	background-repeat:no-repeat;
	background-position:top center;
	border-radius: 3px;
	box-shadow: 0 0 10px rgba(12, 3, 25, 0.8);
}


@media only screen and (min-width: 480px){

body{
padding:0;
margin:0;
}

#wrapper{
width:97%;
}


#thebtn{
    border: 1px solid #1b93df;
    border-radius: 3px;
    font-family: Arial;
    color: #1b93df !important;
    font-size: 14px;
    background: #fff;
    background-color: transparent;
    padding: 6px 14px 6px 14px;
    text-decoration: none;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.3),inset 0 1px 0 rgba(255, 255, 255, 0.5);
    text-shadow: 0 1px 0 #FFF;
    display: inline-block;
    margin: 20px 5px 10px 2px;
	}

.house{
display: inline-block;
}

}

