@font-face{
	font-family:"wizard";
	src: url("MagicSchoolTwo.woff"),
		 url("MagicSchoolTwo.ttf");
}
html{
	font-family:wizard, constantia;
	font-size:2.5em;
	text-shadow: 2px 2px 1px #a829f0;
}
input{
	background-color:transparent;
	width: 100px;
}
body{
	background-image: url("../images/bkgrd.jpg");
}
#line{
margin:0;
padding:0;
}
#new{
	margin:8px 12px;	
}
.thebtn {
	font-family:wizard;
	border: 2px solid #a829f0;
    border-radius: 3px;
    font-family: wizard;
    color: #a829f0 !important;
    font-size: 20px;
    background: #fff;
    background-color: transparent;
    padding: 6px 14px 6px 14px;
    text-decoration: none;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.3),inset 0 1px 0 rgba(255, 255, 255, 0.5);
    text-shadow: 0 1px 0 #FFF;
    display: inline-block;
    margin: 20px 5px 10px 2px;
}
#sort{
font-family:wizard;
	border: 2px solid #a829f0;
    border-radius: 3px;
    font-family:wizard;
    color: #a829f0 !important;
    font-size: 32px;
    background: #fff;
    background-color: transparent;
    padding: 6px 14px 6px 14px;
    text-decoration: none;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.3),inset 0 1px 0 rgba(255, 255, 255, 0.5);
    text-shadow: 0 1px 0 #FFF;
    display: inline-block;
    margin: 20px 5px 10px 2px;
}
.thebtn:hover, #sort:hover{
background:#ffe6ff;
}
.thebtn:active, #sort:active{
background: #ff99cc;
}
.house{
background-repeat:no-repeat;
margin-left: auto;
margin-right: auto;
width:275px;
height:275px;
}
#btn1{
	font-family:wizard;
	text-shadow: 3px 3px 2px #888;
	font-size:inherit;
	text-align:center;
}
#welcome{
	padding-top: 6%;
}
#welcome p{
	margin:0 auto;
	text-align:center;
	font-size:1.4em;
	width:85%;
}
#wrapper{
	color:#2a0e4d;
	text-align:center;
	margin: 0 auto;
	margin-top:40px;
	min-height:480px;
	width: 80%;
	height: 100%;
	background-size: 100% 100%;
	background-image: url("scroll.jpg");
	background-repeat:no-repeat;
	background-position:top left;
	border-radius: 3px;
	box-shadow: 0 0 10px rgba(12, 3, 25, 0.8);
}
@media screen and (max-width: 600px){
#wrapper{
width:92%;
}
#thebtn{
    border: 1px solid #1b93df;
    border-radius: 3px;
    font-family: Arial;
    color: #1b93df !important;
    font-size: 100%;
    background: #fff;
    background-color: transparent;
    padding: 6px 14px 6px 14px;
    text-decoration: none;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.3),inset 0 1px 0 rgba(255, 255, 255, 0.5);
    text-shadow: 0 1px 0 #FFF;
    display: inline-block;
    margin: 20px 5px 10px 2px;
	}
.house{
background-repeat:no-repeat;
margin-left:auto;
margin-right:auto;
}
#wi{
	padding-top:32px; 
}
#line{
	width:90%;
}
}