<?xml version="1.0" encoding="UTF-8" ?>
<widget xmlns = "http://www.w3.org/ns/widgets"
	xmlns:gap   = "http://phonegap.com/ns/1.0"
	id          = "com.phonegap.HPSorter"
	version     = "1.1.0"
	versionCode = "10">
	<preference name="phonegap-version" value="cli-5.2.0" />
	<gap:splash src="sorthat.png" />
	<preference name="Orientation" value="portrait" />		
	<name>Sorter</name>
	<content src="index.html"/>
	<platform name="android">
		<icon src="images/newIcon.png" gap:platform="android" gap:qualifier="ldpi" />
		<icon src="images/newIcon.png" gap:platform="android" gap:qualifier="mdpi" />
		<icon src="images/newIcon.png" gap:platform="android" gap:qualifier="hdpi" />
		<icon src="images/newIcon.png" gap:platform="android" gap:qualifier="xhdpi" />
		<icon src="images/newIcon.png" gap:platform="android" gap:qualifier="xxhdpi" />
		<icon src="images/newIcon.png" gap:platform="android" gap:qualifier="fr-xxhdpi" />
		<splash src="ldpi.png" platform="android" qualifier="ldpi" />
		<splash src="mdpi.png" platform="android" qualifier="mdpi" />
		<splash src="hdpi.png" platform="android" qualifier="hdpi" />
		<splash src="xhdpi.png" platform="android" qualifier="xhdpi" />
		<splash src="fr-xhdpi.png" platform="android" qualifier="fr-xhdpi" />
		<splash src="port-xxhdpi.png" platform="android" qualifier="port-xxhdpi" />
		<splash src="land-xxhdpi.png" platform="android" qualifier="land-xxhdpi" />		
	</platform>
	<description>
		<h3 style="color:#005406;">BIRTHDAY VERSION READY FOR LAUNCH!</h3>
			<p>Sort a group into houses as according to an international best selling story. Exclusive use will be for a personal birthday party.</p>
	</description>
	<author email="sodajrrk@gmail.com">
		Noah Hebert
	</author>
</widget>