<?xml version="1.0" encoding="UTF-8" ?>
<widget xmlns = "http://www.w3.org/ns/widgets"

	xmlns:gap   = "http://phonegap.com/ns/1.0"
	id          = "com.phonegap.HPSorter"
	version     = "0.9.15"
	versionCode = "10">

	<preference name="phonegap-version" value="cli-5.2.0" />
	<preference name="SplashScreenDelay" value="3000" />
	<preference name="Orientation" value="portrait" />		
	
   
	<name>Sorter</name>
	<content src="index.html"/>
	
	<platform name="wp8">
	<splash src="splash.png" width="768" height="1280"/>
		<icon src="images/newIcon.png" gap:platform="winphone" />
		<icon src="images/newIcon.png" gap:platform="winphone" gap:role="background" />
	</platform>
	
	<platform name="android">
		<icon src="images/newIcon.png" gap:platform="android" gap:qualifier="ldpi" />
		<icon src="images/newIcon.png" gap:platform="android" gap:qualifier="mdpi" />
		<icon src="images/newIcon.png" gap:platform="android" gap:qualifier="hdpi" />
		<icon src="images/newIcon.png" gap:platform="android" gap:qualifier="xhdpi" />
		<icon src="images/newIcon.png" gap:platform="android" gap:qualifier="xxhdpi" />
		<icon src="images/newIcon.png" gap:platform="android" gap:qualifier="fr-xxhdpi" />	
	</platform>
	<platform name="ios">
	</platform>
	
	<description>
		<h3 style="color:#005406;">!!!BETA VERSION!!!</h3>
			<h3><strong>Still in test mode </strong></h3>
			<p>It's an app used to sort people into "houses" according to a popular story. Exclusive use will be for a personal birthday party.</p>
	</description>

	<author email="sodajrrk@gmail.com">
		Noah Hebert
	</author>

</widget>